<?xml version="1.0" ?>
<model>
    <name>f1l3</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Grupo 09</name>
        <email>aferlop5@upv.edu.es</email>
    </author>
    <description>Mapa del entorno F1L3 para Gazebo, estático, con paredes en formato caja y colisiones alineadas al visual.</description>
</model>
